In [45]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [5]:
obj2['California'] == None

False

In [6]:
obj3['California']

True

In [7]:
x = obj2['California']
obj2['California'] != x

True

In [8]:
import math
math.isnan(obj2['California'])

True

In [9]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [12]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [79]:
df = pd.DataFrame(sdata, index=['A', 'B', 'C', 'D'])
df

    Ohio  Texas  Oregon  Utah
A  35000  71000   16000  5000
B  35000  71000   16000  5000
C  35000  71000   16000  5000
D  35000  71000   16000  5000

In [80]:
df['A']

KeyError: 'A'

In [35]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [85]:
s1.iloc[1]

'Jack'

In [82]:
df = pd.DataFrame(np.arange(5).reshape(5, 1))

In [71]:
df[df[0].gt(2) & df[0].lt(4)]

   0
3  3

In [73]:
df[(df[0] > 2) & (df[0] < 4)]

   0
3  3

In [75]:
(df[0] > 2) & (df[0] < 4)

0    False
1    False
2    False
3     True
4    False
Name: 0, dtype: bool

In [83]:
df.where(df[0] > 3).dropna()

     0
4  4.0

# Assignment 2

In [92]:
df = pd.read_csv('NISPUF17.csv')

In [93]:
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [146]:
prop = df['EDUC1'].value_counts() / df['EDUC1'].shape[0]
labels = ["less than high school", "high school", "more than high school but not college", "college"]

In [155]:
%%timeit -n 100
prop_ed = pd.Series(prop.tolist(), labels)
prop_ed.to_dict()

352 µs ± 53.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [156]:
%%timeit -n 100
x = zip(labels, prop)
dict(x)

4.79 µs ± 1.73 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [157]:
prop = df['EDUC1'].value_counts() / df['EDUC1'].shape[0]

In [159]:
prop.replace()

<bound method Series.replace of 4    0.479747
3    0.245881
2    0.172352
1    0.102020
Name: EDUC1, dtype: float64>

In [161]:
milk = df['CBF_01']
milk.head()

0    1
1    2
2    2
3    2
4    1
Name: CBF_01, dtype: int64

In [165]:
x = df[df['CBF_01'] == 1]
x['P_NUMFLU'].mean()

1.8799187420058687